<div class="row">
    <div class="text-center">
        <h3>
            Reset Password
        </h3>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-md-5 align-center" style="background-color: beige;">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="password" formControlName="newPassword" class="form-control input-lg"
                        placeholder="New Password"
                        [ngClass]="{ 'is-invalid':resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors }" />
                    <div *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors"
                        class="invalid-feedback">
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">New Password is required
                        </div>
                        <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">Password must be at least 5
                            characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control input-lg"
                        placeholder="Confirm Password"
                        [ngClass]="{ 'is-invalid': resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors }" />
                    <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors"
                        class="invalid-feedback">
                        <div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is
                            required</div>
                        <div *ngIf="resetForm.get('confirmPassword')?.errors?.['mustMatch']">Passwords must match
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-primary btn-block">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-http-loader></ng-http-loader>