<div class="row">

    <!-- PROFILE SECTION -->
    <div class="col-lg-4 mb-2">
        <div class="card">
            <img src="../../assets/homepic.jpeg" class="rounded-circle" alt="Profile picture">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> <b> <span class="sr-only">({{totalPosts}})</span></b> Posts</li>
                <li class="list-group-item"> <b> <span class="sr-only">({{totalConnections}})</span></b> Connections</li>
            </ul>
        </div>
    </div>

    <div class="col-lg-8">
        <table class="table">
            <tbody>
                <tr *ngFor="let friend of myFriends" style="background-color: bisque;">
                    <td>
                        <div class="row" style="background-color: azure;">
                            <div class="col-2">
                                <img src="../../assets/profpic.png" class="rounded-circle"
                                    style="max-width: 100px; height: 100px;" alt="Friend profile pic">
                            </div>
                            <div class="col-10">
                                <label style="font-size: medium;">{{friend.firstName + ' ' + friend.lastName }}
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
<ng-http-loader></ng-http-loader>