<div *ngIf="errorMsg" class="alert alert-danger mt-2">{{errorMsg}}</div>
<div *ngIf="message" class="alert alert-success mt-2">{{message}}</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
<div class="form-group">
   <input type="password" formControlName="newPassword" class="form-control input-lg" placeholder="New Password"
      [ngClass]="{ 'is-invalid': changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors }" />
   <div *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.errors" class="invalid-feedback">
      <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">New Password is required</div>
      <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 5 characters</div>
   </div>
</div>
<div class="form-group">
   <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Confirm Password"
      [ngClass]="{ 'is-invalid': changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.errors }" />
   <div *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.errors" class="invalid-feedback">
      <div *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
      <div *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mustMatch']">Passwords must match</div>
   </div>
</div>
<div class="text-center">
   <button [disabled]="changePasswordForm.invalid" class="btn btn-outline-primary btn-block">SAVE</button>
</div>
</form>
<ng-http-loader></ng-http-loader>