.rounded-circle {
    width : 300px;
    height: 250px;
}

.btn-outline-primary {
    width        : 97px;
    margin-bottom: 2px;
}

.table {
    max-width          : 710px;
    background-color   : white;
    padding-left       : 0px;
    padding-right      : 0px;
    margin-top         : 20px;
    border-collapse    : separate;
    border-spacing     : 0 0.5em;
}

tr,
td {
    padding-left: 10px;
}

img,
ul {
    margin: auto;
}

li {
    width: 250px;
}

.card {
    max-width  : 30rem;
    padding-top: 10px;
}